{% extends 'base.html' %}
{% block content %}
{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<nav class="navbar bg-light">
  <div class="container-fluid">
    <img src="{% static 'images/Editing-Edit-icon.png' %}" width="30" height="25" class="align-text-top">
    <h1>의견 작성</h1>
    </a>
    <a href="{% url 'articles:create' %}" type="button" class="btn btn-outline-success btn-lg">작성</a>
  </div>
</nav>
<hr>
<form action="" class="m-4">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">리뷰 번호</th>
        <th scope="col">리뷰 제목</th>
        <th scope="col">작성 시간</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for i in v %}
      <tr>
        <th scope="row">{{i.id}}</th>
        <td><a href="{% url 'articles:detail' i.pk%}" class="link-success">
            <p class="text-success"> 제목 : {{i.title}}<p>
          </a></td>
        <td>{{i.created_at}}</td>
      </tr>
    </tbody>
    {% endfor%}
  </table>
</form>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="success">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
{% endblock %}