{% extends 'base.html' %}
{% block content %}
  <div class='container'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'>#</th>
          <th scope='col'>username</th>
          <th scope='col'>email</th>
          <th scope='col'>Follow</th>
          <th scope='col'>Following</th>
        </tr>
      </thead워 <tbody>
      {% for user in users %}
        <tr>
          <th scope='row'>{{ user.id }}</th>
          <td>
            <a href="{% url 'accounts:detail' user.pk %} ">{{ user.username }}</a>
          </td>
          <td>{{ user.email }}</td>
          <td>{{ user.followings.all|length }}</td>
          <td>{{ user.followers.all|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="container">
  <a href="{% url 'accounts:signup' %}" class="btn btn-secondary">회원가입</a>
</div>
{% endblock %}