{% extends 'base.html' %}
{% block content %}
  {% load static %}

  <hr>
  <h3 class="text-center">모아보기</h3>
  <div class="row m-2">
    {% for i in search %}
      <div class="col-4">
        <div class="card">
          {% if i.thumbnail %}
            <img src="{{ i.thumbnail.url }}" class="card-img-top" alt="" width="400" height="300">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <a href="{% url 'articles:detail' i.pk %}" class="btn btn-outline-warning my-3">자세히 보기</a>
          </div>
        </div>
      </div>
    {% endfor %}
  {% endblock %}
