body{
  background-color: white;
  margin: 0;

}
.menu{
  display: flex;
  position: sticky;
  align-items: center;
  padding: 0 30px;
  top: 0;
  height: 60px;
  text-align: center;
  font-size: 15px;
  background-color:antiquewhite;
  border-bottom: 1px solid #ebebeb;
}
.logo{
  flex: 0;
  color: blue;
  margin-right: 10px;
  text-align: left;
  font-size: 28px;
  font-weight: bold;
}
.menu-text{
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  letter-spacing: -0.02em;
  font-family: 'samsungOneKores', Dotum, '돋움', sans-serif;
  vertical-align:middle;
  word-break: keep-all;
  box-sizing: border-box;
}
.login{
  display: flex;
  flex: 1;
  margin-left: 10px;
  text-align: right;
}
.msg{
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom: 50px;
  right: 50px;
  font-size: 15px;
  font-weight: 300;
}
.headline1 {
  text-align: center;
  font-size: 12px;
}
.headline2 {
  text-align: center;
}

.card {
  float: left;
  margin: 1px; 
}
.card_image {
  width: 900px;
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item {
  display: block;
  padding-left: 10px;
  color: gray
}
.str {
  font-size: 14pt;
  padding-left: 10px;
}
.txt {
  display: inline-block;
  color: gray;
  font-size: 9pt;
  padding-left: 10px;
}
.card1 {
  border-radius: 20px;
}
.image {
  border-radius: 15px;
}
.msg{
  padding: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: gray;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
