body{
  margin: 0;
}

.navigator{
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  max-width: 1900px;
  height: 80px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white
}
.navigator div {
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
  justify-content: center;
  margin-right: 50px;
}

.headline1 {
  text-align: center;
  font-size: 12px;
}
.headline2 {
  text-align: center;
}

.card {
  float: left;
  margin: 1px; 
}
.card_image {
  width: 900px;
  display: flex;
  list-style: none;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.item {
  display: block;
  padding-left: 10px;
  color: gray
}
.str {
  font-size: 14pt;
  padding-left: 10px;
}
.txt {
  display: inline-block;
  color: gray;
  font-size: 9pt;
  padding-left: 10px;
}
.card1 {
  border-radius: 20px;
}
.image {
  border-radius: 15px;
}
.msg{
  padding: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  background-color: gray;
  position: fixed;
  right: 20px;
  bottom: 20px;
}
