{% extends 'base.html' %}
{% block content %}
<div class="container p-5">
  <div class="w-75 container shadow-lg p-3 mb-5 bg-body rounded-5">
    <h1 class="text-center mt-5">사칙연산 결과</h1>
    <div class="d-flex flex-column align-items-center mt-5">
      <div class="fs-2  mb-5 d-flex flex-column align-items-center">
        {{var1}} + {{var2}} = {{ sum }}
      </div>
      <div class="fs-2 mb-5 d-flex flex-column align-items-center">
        {{var1}} - {{var2}} = {{ sub }}
      </div>
      <div class="fs-2  mb-5 d-flex flex-column align-items-center">
        {{var1}} * {{var2}} = {{ mul }}
      </div>
      <div class="fs-2  mb-5 d-flex flex-column align-items-center">
        {{var1}} // {{var2}} = {{ div }}
      </div>
      <div class="mt-3 mb-2">
        <a href="/"><button class="btn btn-primary">홈으로</button></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}